html {
  padding: 10px;
  /* background-image: url('img/background-mirrored.jpg'); */
  background-image: url('img/pizza-background.jpg');
  /* background-size: 750px; */
  background-size: 500px;
  /* background-color: #7f5a83;
  background-color: #802201; */
  /* background-image: linear-gradient(326deg, #802201 0%, #210d10 74%); */
  /* background-repeat: no-repeat; */
  height: 100%;
}

#total-cost {
  display: none;
  flex: 1;
  border: 1px solid black;
}

#heading {
  background-image: url('img/pingel-pizza-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid darkorange;
  border-radius: 30px;
  margin-bottom: 20px;
}

#heading-image {
  vertical-align: top;
  width: 100%;
  opacity:0;
  min-height: 300px;
  min-width: 500px;
}

#heading-text {
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  min-width: 500px;
  font-size: 30px;
  text-align: center;
  color: white;
}

#heading-text h1 {
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-shadow:
    0px 0px 10px orangered,
    0px 0px 30px orangered,
    0px 0px 50px orangered,
    0px 0px 70px orangered,
    0px 0px 90px orangered,
    0px 0px 150px orangered;
}

#heading-text p {
  font-family: 'Caveat', cursive;
  text-shadow:
    0px 0px 5px orangered,
    0px 0px 10px orangered,
    0px 0px 20px orangered,
    0px 0px 30px orangered,
    0px 0px 50px orangered,
    0px 0px 80px orangered;
}

#build-pizza {
  border: 5px solid darkorange;
  border-radius: 20px;
  /* background-image: url('img/pizza-background.jpg'); */
  /* background-size: 250px; */
  background-image: url('img/background-mirrored.jpg');
  background-size: 750px;
  background-attachment: fixed;
  width: 50%;
  min-width: 650px;
  margin: auto;
  color: white;
  text-shadow:
    0px 0px 5px orangered,
    0px 0px 10px orangered,
    0px 0px 20px orangered,
    0px 0px 30px orangered,
    0px 0px 50px orangered,
    0px 0px 80px orangered;
  margin-bottom: 20px;
  cursor: pointer;
}

#build-pizza:hover {
  color: white;
  text-shadow:
    0px 0px 5px yellow,
    0px 0px 10px yellow,
    0px 0px 20px yellow,
    0px 0px 30px yellow,
    0px 0px 50px yellow,
    0px 0px 80px yellow;
}

#pizza-menu {
  display: none;
  border: 5px solid darkorange;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  /* background-image: url('img/pizza-background.jpg');
  background-size: 250px; */
  background-image: url('img/background-mirrored.jpg');
  background-size: 750px;
  background-attachment: fixed;
  color: white;
  text-shadow:
  0px 0px 5px orangered,
  0px 0px 10px orangered,
  0px 0px 20px orangered,
  0px 0px 30px orangered,
  0px 0px 50px orangered,
  0px 0px 80px orangered;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#menu-items {
  display: flex;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 20px;
}

#menu-size {
  flex: 1;
}

#menu-toppings {
  flex: 1;
}

#main-interface {
  display: none;
}

#pizza-name {
  border: 5px solid darkorange;
  /* background-image: url('img/pizza-background.jpg');
  background-size: 250px; */
  background-image: url('img/background-mirrored.jpg');
  background-size: 750px;
  background-attachment: fixed;
  border-radius: 15px;
  width: 50%;
  margin: auto;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  padding: 30px;
}

#pizza-name-text {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  color: white;
  text-shadow:
    0px 0px 5px orangered,
    0px 0px 10px orangered,
    0px 0px 20px orangered,
    0px 0px 30px orangered,
    0px 0px 50px orangered,
    0px 0px 80px orangered;
  display: block;
}

#pizza-name-field {
  display: block;
  text-align: center;
  margin: auto;
}

#pizza-options {
  /* background-image: url('img/pizza-background.jpg');
  background-size: 250px; */
  background-image: url('img/background-mirrored.jpg');
  background-size: 750px;
  background-attachment: fixed;
  display: flex;
  border: 5px solid darkorange;
  border-radius: 20px;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  color: white;
  text-shadow:
    0px 0px 5px orangered,
    0px 0px 10px orangered,
    0px 0px 20px orangered,
    0px 0px 30px orangered,
    0px 0px 50px orangered,
    0px 0px 80px orangered;
  padding: 30px;
  margin-bottom: 20px;
}

#size {
  flex: 1;
}

#sauce {
  flex: 1;
}

#cheese{
  flex: 1;
}

#meats {
  flex: 1;
}

#unmeats {
  flex: 1;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow:
    0px 0px 5px orangered,
    0px 0px 10px orangered,
    0px 0px 20px orangered,
    0px 0px 30px orangered,
    0px 0px 50px orangered,
    0px 0px 80px orangered;
}

.pizza-headers {
  cursor: pointer;
}

.pizza-headers:hover {
  color: white;
  text-shadow:
    0px 0px 5px yellow,
    0px 0px 10px yellow,
    0px 0px 20px yellow,
    0px 0px 30px yellow,
    0px 0px 50px yellow,
    0px 0px 80px yellow;
}

#radio-buttons-size {
  display: none;
  width: 30%;
  margin: auto;
}

#radio-buttons-sauce {
  display: none;
  width: 30%;
  margin: auto;
}

#radio-buttons-cheese {
  display: none;
  width: 45%;
  margin: auto;
}

#radio-buttons-meats {
  display:none;
  width: 50%;
  margin: auto;
}

#radio-buttons-unmeats {
  display:none;
  width: 45%;
  margin: auto;
}

#submit-button {
  border: 2.5px solid darkorange;
  outline: none;
  border-radius: 5px;
  /* background-image: url('img/pizza-background.jpg');
  background-size: 250px; */
  background-image: url('img/background-mirrored.jpg');
  background-size: 750px;
  background-attachment: fixed;
  height: 75px;
  width: 300px;
  margin: auto;
  display: block;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  cursor: pointer;
  color: white;
  text-shadow:
    0px 0px 5px orangered,
    0px 0px 10px orangered,
    0px 0px 20px orangered,
    0px 0px 30px orangered,
    0px 0px 50px orangered,
    0px 0px 80px orangered;
  margin-bottom: 20px;
}

#submit-button:hover {
  color: white;
  text-shadow:
    0px 0px 5px yellow,
    0px 0px 10px yellow,
    0px 0px 20px yellow,
    0px 0px 30px yellow,
    0px 0px 50px yellow,
    0px 0px 80px yellow;
}

#submit-button:active {
  border: 5px solid darkorange;
  border-radius: 20px;
}

#cart {
  display: none;
  /* background-image: url('img/pizza-background.jpg');
  background-size: 250px; */
  background-image: url('img/background-mirrored.jpg');
  background-size: 750px;
  background-attachment: fixed;
  border: 5px solid darkorange;
  border-radius: 20px;
  width: 75%;
  margin: auto;
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 30px;
  margin-bottom: 20px;
}
#cart h3 {
  text-shadow:
  0px 0px 5px orangered,
  0px 0px 10px orangered,
  0px 0px 20px orangered,
  0px 0px 30px orangered,
  0px 0px 50px orangered,
  0px 0px 80px orangered;
}

#cart h4{ 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cart p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
  font-family: 'Caveat', cursive;
  font-size: 40px;
  width: 40%;
  margin: auto; 
  text-shadow:
  0px 0px 5px orangered,
  0px 0px 10px orangered,
  0px 0px 20px orangered,
  0px 0px 30px orangered,
  0px 0px 50px orangered,
  0px 0px 80px orangered;
  cursor: pointer;
}

h5:hover {
  color: white;
  text-shadow:
    0px 0px 5px yellow,
    0px 0px 10px yellow,
    0px 0px 20px yellow,
    0px 0px 30px yellow,
    0px 0px 50px yellow,
    0px 0px 80px yellow;
}

#pizzas p {
  width: 50%;
  margin: auto;
  display: none;
  font-size: 20px;
}

.pizza-key {
  font-size: 25px;
  font-weight: bolder;
}